@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}

.container {
  max-width: 1314px;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
}

.containernav{
    width: 1314px;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
}
.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
    padding: 0;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
	padding: .5em 1.5em;
}
header .containernav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}
.containernav img{
    padding-right: 24px;
}
@media (min-width: 768px) {
	header .containernav {
		justify-content: space-between;
        padding: 20px;
	}
}

.linkcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link ul {
  list-style-type: none;
}
.firstlink ul > li {
  display: inline-block;
}
.link ul > li a {
  text-decoration: none;
}

.link a {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}
/* .firstlink a:nth-child(1){
    border-top: solid #0065FC 2px;
    padding-top: 50px;
} */
.firstlink a:nth-child(2){
    color: #1F1F1F;

}
.subscribe a {
  font-weight: 900;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.search-container {
  margin-bottom: 30px;
}

form {
  display: flex;
  align-items: center;
}

.map {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  min-width: 50px;
  background-color: #ececec;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
input {
  padding: 11px;
  height: 50px;
  border: solid #ececec 1px;
  margin-right: -5px;

  border-right: none;
}

input[type="search"]:focus {
  outline: none;
}

input::placeholder {
  color: #000;
}

button {
  border: none;
  padding: 11px;
  height: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #0065fc;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  cursor: pointer;
}
button::before {
  content: "Rechercher";
}

.filter_container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.filter_container h2 {
  margin-right: 32px;
}

.filter {
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 12px;
  height: 45px;
  border: 1px solid #d9d9d9;
  width: fit-content;
  border-radius: 25px;
}
.filter p {
  padding-left: 25px;
  padding-right: 25px;
  font-weight: 900;
}
.iconsfilter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
}

.info {
  display: flex;
  align-items: center;
}
.info i {
  padding: 4px;
  border: solid #deebff 1px;
  border-radius: 50%;
  width: 1em;
  text-align: center;
  font-size: 13px;
  margin-right: 1em;
  color: #0065fc;
}

footer {
  display: flex;
  align-items: center;
}
footer ul {
  list-style-type: none;
}

footer ul > li a {
  text-decoration: none;
  padding: 10px;
  list-style-type: none;
}

.footer_assistance ul > li a {
  text-decoration: none;
  padding: 10px;
  list-style-type: none;
}

.footer_hebergements ul > li a {
  text-decoration: none;
  padding: 10px;
  list-style-type: none;
}
.cardscontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 992px) {
  .cardscontainer {
    justify-content: space-between;
  }
}
/* .result-container{
    display: flex;
    flex-wrap: wrap;
    
    flex: 0 32%;
    padding: 20px;
    justify-content: space-between;
    background-color: #F2F2F2;
    height:fit-content;
    width: fit-content;
    border-radius: 20px;
    
} */

.result-container {
  /* display: grid;  */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "result";
  max-width: 100%;
  /* width: 880px;
    height: 625px;  */

  border-radius: 20px;
  padding: 20px;
  order: 2;
}

.fa-star {
  color: #d9d9d9;
}
.rated {
  color: #0065fc;
}
.resultpopular-container {
  background-color: #f2f2f2;
  order: 1;
}
.result {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1frr;
  gap: 35px 35px;
  grid-template-areas:
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6";
  grid-area: result;
}
.result-container a {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  display: block;
  padding-top: 25px;
  padding-bottom: 20px;
}

@media screen and (min-width: 600px) {
  .result-container {
    order: 1;
    background-color: #f2f2f2;
  }
  .resultpopular-container {
    order: 2;
  }
  .result-container a {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .result {
    display: grid;
    grid-template-areas:
      "card1 card2"
      "card3 card4 "
      "card5 card6";
  }
}
@media screen and (min-width: 992px) {
  .result {
    display: grid;
    grid-template-areas:
      "card1 card2 card3"
      "card4 card5 card6";
  }
}
.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card4 {
  grid-area: card4;
}
.card5 {
  grid-area: card5;
}
.card3 {
  grid-area: card3;
}
.card6 {
  grid-area: card6;
}

.result-card {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  width: 235px;
}

.result-card h2 {
  font-size: 17px;
}
.result-card p {
  font-size: 14px;
}

.result-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: auto;
  object-fit: cover;
 width: 100%;
}

@media screen and (max-width: 520px) {

  .firstlink ul {
    width: 100%;
  }
  .firstlink ul > li {
    width: 50%;
  }

  .subscribe a {
    position: absolute;
    top: 50px;
    right: 0px;
  }
  button {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 46px;
    min-width: 46px;
  }
  button::before {
    content: "\f002";
  }
}
